python-telegram-bot
requests
pyyaml
ollama
duckduckgo_search
python-dotenv
flask
flask-cors
waitress
youtube-transcript-api
beautifulsoup4
yt-dlp
numpy
scikit-learn
apscheduler
psutil
tzdata
pypdf
openpyxl
